@font-face {
    font-family: Epilogue;
    src: url(fonts/Epilogue-SemiBold.ttf);
}
@font-face {
    font-family: EpilogueBold;
    src: url(fonts/Epilogue-Bold.ttf);
}
@font-face {
    font-family: EpilogueRegular;
    src: url(fonts/Epilogue-Regular.ttf);
}

::selection{
    color: white;
    background-color: #111010;
}

.snap:hover{
    transition: 200ms;
    transform: scale(1.1);
    transform: rotate(8deg);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
nav a{
    color:#707070
}
body{
    font-family: Epilogue
}
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}
nav ul{
    display: flex;
    width: 30%;
    justify-content: space-around;
}
nav ul li{
    color:#707070;
    transition: 200ms;
}
nav div{
    display: flex;
    align-items: center;
}
nav .snap{
    width: 6em;
    height: 2em;
    transition: 200ms;
}
nav .initial{
    width: 80%;
    margin-left: 4em;
}
nav .botones{
    display: flex;
    gap: 1em;
    align-items: center;
    margin-right: 4em;
}
nav button{
    font-family: Epilogue;
    border: 2px solid #b4b4b4;
    background-color: transparent;
    border-radius: 15px;
    color: #707070;
    width: 7em;
    padding: 1em;
    font-size: 16px;
}
nav button:active{
    border: 2px solid #000000;
}
section{
    height: 80vh;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    align-items: center;
}
section ul{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 5em;
    margin-right: 2em;
    margin-left: -2.3em;
}
section div{
margin-right: -18em;
}
section div h1{
    font-family: EpilogueBold;
    font-size: 72px;
    color: #212529;
}
section div p{
    width: 50%;
    color: #707070;
    font-size: 20px;
}
section div button{
    border: 2px solid #545454;
    color: white;
    font-family: EpilogueBold;
    padding: 1.2em 2.2em;
    background-color: black;
    border-radius: 15px ;
    font-size: 20px;
    margin-top: 2em;
    transition:500ms;
}
section div button:hover{
    background-color: white;
    color:black;
    transition:500ms;
    box-shadow: 7px 6px 68px -36px rgba(0,0,0,0.75);
}
.pc{
height: 75%;
}
label{
    cursor:pointer;
}
#Features{
    display: none;
}
#Features ul{
    display: flex;
    flex-direction: column;
    margin-left: -6em;
}
#Features ul li{
    display: flex;
    width: 100%;
    margin: 1.5em 0 0 0;
    color: #707070;
}

#Features ul li:hover{
    cursor: pointer;
    color:black;
}
#Features ul li img{
    width: 20px;
    height: 20px;
    margin-right: 1em;
}

#Company{
    display: none;
}
#Company ul{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    width: 100%;
}
#Company ul li{
    display: flex;
    width: 100%;
    margin: 1.5em 0 0 0;
    color: #707070;
}
#Company ul li:hover{
    cursor: pointer;
    color:black;
}
input[type="checkbox"]{
    display: none;
}
#menu_feat:checked ~ #Features{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    box-shadow: -2px 3px 19px -3px rgba(191,185,191,1);
    width: 11em;
    top: 5em;
    left:11em;
    border-radius: 10px;
    height: 12em;

}
#menu_com:checked ~ #Company{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    box-shadow: -2px 3px 19px -3px rgba(191,185,191,1);
    width: 9em;
    top: 5em;
    left:23em;
    border-radius: 10px;
    height: 9em;
}

ul li label img{
    margin-left: 8px;
}

nav ul li:hover{
    color: black;
}

nav ul li a{
    transition: 200ms;
}

nav ul li a:hover{
    color:black;
    transition: 200ms;
}
.logg:hover{
    color:black;
}

.lr{
    display: none;
}

.burger{
    display: none;
}

.mobile{
    display: none;
}

.menumobile{
    display: none;
}

@media only screen and (max-width: 1366px) {
    nav{
        margin-top: 1.5em;
    }
    nav .initial{
        margin-left: 2em;
    }
    nav .botones{
        margin-right: 2em;
    }
    nav ul{
        width: 40%;
    }

    #menu_feat:checked ~ #Features{
        left: 7em;
    }
    #menu_com:checked ~ #Company{
        left:19em;
    }

    section div h1{
        font-size: 64px;
    }

    section div{
        margin-right: -24em;
    }

    section ul{
        margin-left: -6em;
        justify-content: space-evenly;
        margin-top: 3em;
    }

    section ul li img{
    max-width: 100px;
    max-height: 30px;
    }

    section img{
        height: 93%;
    }

    .data{
        max-width: 140px;
        max-height: 50px;
    }
    section div p{
        margin: -2em 0 -1em 0;
        font-size: 17px;
    }

  }

  @media only screen and (max-width: 785px) {

    nav div ul{
        display: none;
    }

    nav .botones{
        display: none;
    }

    nav .initial{
        margin-left: 0.5em;
    }

    .burger{
        display: block;
        margin-right: 0.5em;
    }

    .pc{
        display: none;
    }

    .mobile{
        display: block;
    }

    section{
        flex-direction: column;
        margin-top: 13em;
    }

    .mobile{

        height: 65%;
    }


    .menumobile{
     display: block;
    }


    section div{
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section div h1{
        font-size: 36px;
    }

    section div p{
        font-family:EpilogueRegular ;
        text-align: center;
        font-size: 24px;
        width: 55%;
        margin: -1em 0 0 0;
    }

    section br{
        display: none;
    }

    section ul{
        margin-left: 0;
    }

    .burger{
        display: block;
        position: absolute;
        z-index: 1;
        top: 2em;
        right:1em;
    }
    .lr{
        display: flex;
        flex-direction: column;
        margin-top: 1em;
    }
    #ham:checked ~ #options{
        display: flex;
        flex-direction: column;
        justify-content: center ;
        position: absolute;
        top:-5em;
        right: 0;
        background-color: white;
        height: 140%;
        width: 60%;
    }

    #options li{
        margin-top: 1em;
    }
    
    .lr button{
        margin-top: 1em;
    }

}


@media only screen and (max-width: 555px) {
    section ul li img{
        max-width:70px ;
        max-height:20px ;
    }
    .mobile{
        width: 62%;
        height: 31%;
    }
    .data{
        max-width:90px ;
        max-height:20px ;
    }
    section{
        margin-top: 5em;
    }
    section div h1{
        font-size: 24px;
    }

    section div p{
        font-size: 16px;
    }
}

@media only screen and (max-width: 440px) {
    section ul{
        margin-left: -10%;
    }
}